*{
	font-family : 'Quicksand', lato, verdana, sans-serif;
}
.top-deck{
    padding-top : 5px;
    padding-bottom : 5px;
    padding-left : 10px;
    background-color : greenyellow;
}
.head-text{
    display : inline;
    height :initial;
    font-size : 2em;
    padding-top : 7px;
}
.side-list{
    list-style-type : none;
    margin-top : 6%;
    padding-left : 15px;
    
}
.modal-body{
    font-size : 18px;
}
ul > li{
    padding-top : 8px;
}
li > .btnl:hover{
    border-bottom : solid 4px;
    
}
li > .btnl{
    font-size : 1.3em;
    width : 100%;
    background-color : #fff;
    border-bottom : solid 2px;
    border-radius : 0px;
}
.side-panel{
    border-right : solid 1px;
    height : 100vh;
    width : 20%;
    background-color : lightgray;
}
.admin-image{
    font-size : 3em;
    padding-top : 6px;
    margin-left : 100%;
}
.form-div{
    margin-left : 20px;
}
.right-aligned{
    margin-left : 33px;
    margin-top : 2%;
}
.btn-margin{
    margin-top : 3%;
    width : 25%;
}
.button{
    margin : 1%;
    width : 25%;
}
tr > th{
    text-align : center !important;
    font-size : 24px;
}
.table{
    text-align : center;    
}
.input-class{
    width : 15% !important;
    margin-left : 44%;
}
td{
    padding-top : 10px !important;
    font-size : 24px;
}
textarea{
    margin-top : 10px;
    width : 90% !important;
}
label{
    text-align: right;
}
input{
    width : 75% !important;
}
#admin-account{margin-left : 28px;}

#home-link{text-decoration : none !important;}
#company-image, #admin-image{
    border : solid 1px;
    border-radius : 90px;
    text-decoration : none;
    height : 8vh;
    margin-bottom : 6px;
} 
#change{
    font-size : 2.45em;
    padding-left : 12%;
    padding-top : 8%;
}
    
}
.side-list{
    list-style-type : none;
    margin-top : 6%;
    padding-left : 15px;
}
.modal-body{
	font-size : 18px;
}
ul > li{
    padding-top : 8px;
}
li > .btnl:hover{
    border-bottom : solid 4px;
    
}
li > .btnl{
    font-size : 1.3em;
    width : 100%;
    background-color : #fff;
    border-bottom : solid 2px;
    border-radius : 0px;
}
.side-panel{
    border-right : solid 1px;
    height : 100vh;

    background-color : lightgray;
}
.admin-image{
    font-size : 3em;
    padding-top : 6px;
    margin-left : 100%;
}
.form-div{
    margin-left : 20px;
}
.right-aligned{
    margin-left : 33px;
    margin-top : 2%;
}
.btn-margin{
    margin-top : 3%;
    width : 25%;
}
.button{
    margin : 1%;
    width : 25%;
}
.update-btn{
    width : 100% !important;
    height : 50px;
}
tr > th{
    text-align : center !important;
    font-size : 24px;
}
.table{
    text-align : center;    
}
.input-class{
    width : 15% !important;
    margin-left : 44%;
}
td{
    padding-top : 10px !important;
    font-size : 24px;
}
textarea{
    margin-top : 10px;
    width : 90% !important;
}
label{
    text-align: right;
}
input{
    width : 75% !important;
}
#admin-account{margin-left : 28px;}

#home-link{text-decoration : none !important;}
#company-image, #admin-image{
    border : solid 1px;
    border-radius : 90px;
    text-decoration : none;
    height : 8vh;
    margin-bottom : 6px;
} 
#change{
    font-size : 2.45em;
    padding-left : 12%;
    padding-top : 8%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.panel{
    margin-top : 22px;
    margin-left : 5px;
}
.text-body{
    font-size : 16px;
    text-align : left;
    padding-top : 3px;
}
.text-body-detail{
    font-size : 33px;
    font-weight : 700;
    text-align : right;
}