.body-div {
  height: 100vh;
  background-color: lightblue;
}
.footer-div {
  background-color: rgb(67, 67, 115);
}
.panel-heading {
  text-align: center !important;
}
.panel {
  height: 301px !important;
  width: 270px !important;
}
ul {
  margin-left: -10px;
  list-style: none;
  padding-top: 6px;
  font-size: 16px;
}
ul > li {
  padding-top: 3px;
  text-align: left;
}
.container-cont {
  padding-top: 60px;
  padding-left: 120px;
}
.company-container {
  height: 4;
}
.company-terms {
  margin-top: 16px;
  padding-top: 7px;
  background-color: #040310;
  height: 52px;
  font-size: 1em;
  color: white;
  text-align: center;
}
