
.form-div{
    border : solid 3px;
    border-radius : 23px;
    position :absolute;
    top : 18%;
    left : 80%;
    padding : 20px 20px 20px 20px;
    width : 243px;
    background-color : steelblue;
    
}
.gly-class{
    position :absolute;
    padding-left : 8px;
    padding-top : 6px;
    font-size : 18px;
}
.form-div input{
    padding-left : 35px;
    font-size :19px;

}
.pswd-marg{
    margin-top : -29px
}
#button-div{
    padding-left :0px;
    
}
#btnL{
    margin-top : -29px;
    width : 195px;
    letter-spacing : 1px;
}
.note-class{
    position :relative;
    padding-top : 2px;
    padding-bottom : 2px;
    border : solid 1px;
    padding-left : 55px; 
    background-color : white;
}
#note{
    font-size : 30px;
}
#msg-div{
    padding : 5px 5px 5px 5px;
}
.filper-1{
    position: absolute !important;
    top : 85%;
    left :8%;
}
.filper-2{
    position: absolute !important;
    top : 90%;
    left :38%;
}
.filper-3{
    position: absolute !important;
    top : 85%;
    left :68%;
}
.cleany-clean{
    position :absolute;
    top :29%;
    left :27%;
    font-family : verdana;
}
#cmpny-name{
    font-size :55px;
    letter-spacing :4px;
    padding-left :0px;
    color :#000;
    
}
#cmpny-note{
    font-size : 22px;
    letter-spacing :2px;
    padding-left :12px;
    color : #000;
}
#cmpny-sym{
    position :absolute;
    width :370px;
    left : 6%;
    top :9%;
}
.middle-part{
    position :absolute;
    height :468px;
    width : 100%;
    top :8%;
}
#background-image{
    width : 100%;
    height :inherit;
    opacity : 0.69;
}
.fliper-front, .fliper-back{
    position :absolute ;
    width : 289px ! important;
    height : 299px !important;
}
#bubbles{
    position :absolute;
    opacity : 0.8;
    height  : 299px !important;
    width : 270px ! important;
    padding-left :0px;
    padding-right :0px;
}
#fliper-title{
    position :absolute;
    color : #000;
    font-family :verdana;
    font-size :40px;
    padding-top : 35%;
}
.title-1{
    padding-left :26%;

}
.title-2{
    padding-left :22%;
}
.title-3{
    padding-left :26%;
   
}