*{
	font-family : 'Quicksand', lato, verdana, sans-serif;
}
#order-save-image{
   
   margin-left : 32%;
   margin-top : 15%;
    width : 310px;
    left: 38%;
    top : 14%;
    border :solid 1px;
    padding : 15px

}
.order-display{
   
    margin-left :35%;
    font-family :verdana;
    left : 38%;
    top : 70%
}

th, td{
    text-align : center !important;
}
th{
    font-family : 'verdana', sans-serif;
    font-size : 2em;
}
td{
    font-family : 'verdana', sans-serif;
    font-size :1.5em;
}
.order-table{
    margin-top : 8%;
    margin-left : auto;
    padding-left : 5%;
}