 #contactDiv{
    opacity:0.98;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #a7ece7;
	display: none;

}
.totalSum{

	color : #000;
	padding-right : 50px;
	margin-top : 8px;
}
.form-container{
	padding-top : 45px;
	width : inherit;
	height : inherit;
}
.myForm, .myForm2{
	
	padding-top : 15px;
	padding-left : 55px;
	 
	color: white;

	
	font-size: 20px;
 	font-family: sans-serif;
	position: relative !important;

}
#wrapper{
	position :absolute;
	border: 0.5px solid rgb(90, 158, 181);
	box-shadow:0 0 15px;
	background-color: rgba(0, 255, 111, 0.84);
	
	height : 550px;
	width: 570px;
	border-radius: 12px ;
	top : 11% ! important;
	left : 28%;
}
#btnSWash{

 	position :absolute;
	width: 50%;
	height : 50px;
	margin-right :0px;
	border : none;
	border-radius : 0px
}
#btnDWash{

	position :absolute;
	padding-left :0px;
	left : 50%;
	margin-left :0px;
	width : 50%;
	height : 50px;
	border : none;
	border-radius : 0px 

}
.lower-button{
//	position :absolute;
	left : 30%;
	widht : 10px ! important;
}
#date{    
	margin-left: 36px;
    margin-bottom: 46px;
    width: 200px;
}
select{
	    margin-left: 42px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
}
.userInput{
	width: inherit;
    margin-left: 3px;
    margin-bottom: 20px;

}
input[type = 'number']{
  
  width: 40px;
  font: 20p, sans-serif;

  padding: 3px 0 0 0;
  text-align: center;
  color : #000;
}
#date, #timeSpan{
 color : #000;
 text-align : center;
     letter-spacing: 1px;
   
	
}
label{
	
	width: 7em;
    margin-right: 9em;
    text-align: right;
    margin-left: 4px;
}
textarea:focus, input:focus {
    text-align:center;
    color: #000;
}
.buttonl {
	color: rgba(95, 95, 99, 0.84);
    margin-top: 0px;
   	border: none;
	border-radius: 15px;
    margin-right: 64px;
    display: inline;
    margin: 0 0 0 5px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    margin-left: 17px;
    margin-right: 62px;
    float: right;
    text-align: center;
    background: url(../visuals/newImage.PNG) no-repeat;
	
}
.button{
	color: rgba(95, 95, 99, 0.84);
	border: none;
	border-radius: 15px;
	margin-top: 0px;


    margin-left: 63px;
    display: inline;
    margin: 0 0 0 5px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    margin-right: -13;
    margin-left: 17px;
    float: right;
    text-align: center;
    background: url(../visuals/newImage.PNG) no-repeat;
	
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	  -moz-appearance: textfield;

}
.buttonl:hover, .button:hover {
    color: black;
}

#timespan{
	 padding-left: 12px;
}
.lower-submit-button{
	position :absolute;
	top :106%;
	width : 50%;
	height : 10%;
	letter-spacing :.1px;
	font-size :20px;
	border : none;
	border-radius :0px !important;

}
.lower-cancel-button{
	position : absolute;
	width : 20%;
	height : 10%;
	left :75%;
	font-size : 18px;
	padding-top :6px;
	letter-spacing :1px;
	top :106%;
	border : none;
	border-radius :0px !important;

}