.side-bar{
	position : absolute;
	background-color :;
	font-size : 16px;
	letter-spacing : .8px;
	font-family : verdana;
	text-align : left ;
	padding-top : 5px;
	padding-bottom : 5px;
	width : 183px;
	height : 100%;
	//background-color : white;
	top :65px;
	
}

.top-desk{
	position :absolute;
	font-size :20px;
	font-family :verdana;
	width :100%;
	padding-left : 0px;
	padding-right : 0px;
		
}
.drpdwn{
	left : 85% ! important;
	padding-top: 14px ! important;
}
.nav{
	height: 66px ! important;
}
#background-image{
	position :absolute;
	background-repeat :no-repeat;
	height :inherit !important;
	width :inherit !important;
	opacity :0.7;
	top : 65px;
}
ul a{
	color : black;
}
ul a:hover{
	background-color :white !important;
}
#back-cmpny-sym{
	position : absolute;
	height : 87px;
	top : -11px;
	left : -13px;
}
#back-cmpny-name{
	position : absolute;
	font-family : verdana;
	font-size : 32px;
	left : 6%; 
	top :12%;
	letter-spacing : 2px

}
.scroll-pre {
  height: 100px;
  width: 100%;
  background-color: inherit;
  position: fixed;
}
#profile-pic{
	position :absolute;
	background-repeat : no-repeat;
	height : 57px;
	width : 57px;
	left : 1084px;
	top : 5px;
	border :solid 1px;
}
.top-desk{
	position :fixed;
	background-color :white;
	opacity :1;
}
#background-image-side-bubbles{
	position : absolute;
	height : inherit;
	width :inherit;
}