*{font-family: 'Quicksand', verdana;}
#para{width : 100vh !important;}
.latest-order-container{
    position : absolute;
    width : inherit;
    left : 20%;
    top : 30%;
}
table th, td {border : solid 1px !important;}
table{
     font-size : 25px;
     text-align : center;
     }

.table-head, .table-details {
    padding-bottom : 20px !important;
    padding-top : 20px!important;
      }
.cancle-order-form{
    position :absolute;
    top : 56%;
    left : 102%;
}    
#submit-image{
    position :absolute; 
    height : 100%;
    cursor : pointer;
    left : -40px;
    top : -14px;
}
th{text-align :center;}
tbody:hover{background-color : lightcyan;}
.latest-order-container:hover .cancle-order-form{display : block;}
.cancle-order-form{display : none;}
#neutral-face-pic{
    position :absolute;
    height : inherit;
    opacity :.99;
    top : -109px;
    left : 140px;
}
#para{
    position :absolute;
    font-size : 21px;
    left : 267px;
    top : 160px;
 }
#teller{
    position :absolute;
    top : -70px;
    font-size :28px;
}
.lower-submit-button{
    padding: 3px;
}